:root{
    --firstcolor: #8082F8;
}

header nav ul li:nth-child(4) a {
    border-bottom: 2px solid var(--firstcolor);
}

main h1{
    margin-top: 20vh;
    margin-left: 4vh;
    font-family: "Instrument Serif";
    font-weight: 500;
}

.sect3{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.LB{
    margin-left: 20px;
    margin-top: 80px;
    font-family: "Instrument Serif";
    font-weight: 500;
    font-size: 37px;
}

.sect3 article{
    border: 2px red solid;
    border-radius: 7px;
    height: 300px;
    background-color: #fdeded;
    transition: background-color 0.7s ease;
    cursor: pointer;
}

.sect3 article:hover{
    background-color: #ffcece;
}

.sect3 article time{
    color: red;
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
    font-family: "Bueno Regular";
    font-weight: 900;
}

/* El card interior, clip ajustado al padding */
.sect3 article {
  position: relative;
  background: #fdeded;
  clip-path: polygon(0 0, calc(100% - 18px) 0, 100% 18px, 100% 100%, 0 100%);
}

/* Triángulo del doblez */
.sect3 article::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 18px 18px 0;
  border-color: red red red red;
  border-radius: 0 0 0 5px;
}


.tags{
    list-style: none;
    display: flex;
    text-align: center;
}

.tags li a{
    display: flex;
    position: relative;
    border: 1px white solid;
    outline: 3px solid red;
    color: white;
    background-color: red;
    padding: 5px 7px;
    font-size: 15px;
    border-radius: 18px;
    font-family: "Bueno Regular";
    font-weight: 900;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 10px;
    left: -20px;
}

.sect3 article h3 a{
    margin-left: 20px;
    margin-top: 25px;
    text-decoration: none;
    font-family: "Bueno Regular";
    display: flex;
    color: red;
    font-size: 45px;
    font-weight: 900;
    width: 300px;
}

.webmentions{
    display: flex;
    position: relative;
    border: 1px white solid;
    outline: 3px solid red;
    color: white;
    background-color: red;
    padding: 5px 7px;
    font-size: 15px;
    border-radius: 18px;
    font-family: "Bueno Regular";
    font-weight: 900;
    text-decoration: none;
    width: 80px;
    left: 300px;
}

.sect3 article:nth-child(2){
    filter: hue-rotate(340deg);
}

.sect3 article:nth-child(3){
    filter: grayscale(100%) opacity(0.8);
}

.sect3 article:nth-child(4){
    filter: hue-rotate(240deg);
}

.sect3 article:nth-child(5){
    filter: hue-rotate(60deg) opacity(0.7);
}

.sect3 article:nth-child(7){
    filter: hue-rotate(120deg) opacity(0.7);
}

.sect3 article:nth-child(8){
    filter: hue-rotate(30deg) opacity(0.6);
}

.sect3 article:nth-child(9){
    filter: hue-rotate(270deg);
}