@font-face {
    font-family: "Instrument Serif";
    src: url("/assets/fonts/InstrumentSerif/InstrumentSerif-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Geist";
    src: url("/assets/fonts/Geist/Geist-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Instrument Serif Italic";
    src: url("/assets/fonts/InstrumentSerif/InstrumentSerif-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Bueno Regular";
    src: url("/assets/fonts/Bueno/Bueno-Regular.ttf") format("truetype");
}

:root{
    --backgroundcolor: #FFF5EE;
    --firstcolor: rgb(250, 82, 60);
    --firstgrid: #A382FF;
    --secondgrid: #87935B;
    --thirdgrid: #7E6F5D;
    --fourthgrid: #D80A0A;
}

::selection {
    background-color: var(--firstcolor);
    color: white;
}

*{
    margin: 0px;
}

html, body {
    overflow-x: clip;
    background-color: var(--backgroundcolor);
}

html {
  scroll-behavior: smooth;
}

.first-text {
    will-change: transform;
    animation: slide-left linear both;
    animation-timeline: scroll();
    animation-range: 0px 150px;
}

.first-text span {
    color: var(--firstcolor);
    font-size: 300px;
    font-family: "Bueno Regular";
    display: block;
    white-space: nowrap;
}
@media (prefers-reduced-motion: reduce) {
    .first-text {
        animation: none;
    }
}

@keyframes slide-left {
    from {
        transform: translateX(0);
        opacity: 1;
        font-size: 140px;
    }
    to {
        transform: translateX(-1000px);
        opacity: 1;
        font-size: 80px;
    }
    
}

@keyframes header-up {
    from { top: 250px; }
    to   { top: 0px; }
}

header {
    background-color: var(--backgroundcolor);
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 0;
    width: 100%;
    z-index: 1000;
    position: fixed;
    height: 65px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-bottom: 2px solid var(--firstcolor);
    font-size: 25px;
    will-change: top;
    animation: header-up linear both;
    animation-timeline: scroll();
    animation-range: 0px 150px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav ul {
    display: flex; 
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 23px;
    font-size: 23px;
    font-family: "Instrument Serif";
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.logo{
    font-family: "Bueno Regular";
    font-size: 60px;
    font-weight: 600;
    color: var(--firstcolor);
    position: relative;
    top: 5px;
    margin-right: 20px;
    text-decoration: none;
}

.email{
    font-family: "Instrument Serif";
    color: black;
    font-size: 23px;
}
.email-wrapper{
    display: flex;
    position: relative;
}
.copy-email {
    display: flex;
    opacity: 0;
    transition: opacity 0.3s ease;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 10px;
}

.copy-email img{
    cursor: pointer;
}

.email-wrapper:hover .copy-email {
    opacity: 1;
}



.email-wrapper button {
    background-color: var(--firstcolor);
    border: none;
    font-family: "Bueno Regular";
    color: var(--backgroundcolor);
    opacity: 0;

    font-weight: 900;
    border-radius: 3px;
    position: absolute;
    top: 65%;
}


.copy-email:hover button {
    opacity: 1;
}

header .availability {
    font-family: "Instrument Serif";
    font-weight: 100;
    font-size: 25px;
}

.sect1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    padding: 80px 0;
}

.video-container{
    width: 50%;
    height: 610px;
    position: relative;
    bottom: 50px;
}

.background-video{
    position: relative;
    background-color: var(--firstcolor);
    height: 83vh;
    top: 13vh;
    border-radius: 500px;
    width: 150vh;
    right: 46vh;
}

.video-container > video{
    position: absolute;
    height: 680px;
    bottom: 0;
    left: 0px;
}

.sect1 h1 {
    font-family: "Instrument Serif Italic";
    font-size: 110px;
    font-weight: 100;
}

.sect1 h1 em {
    font-family: "Instrument Serif";
    font-style: normal;
    display: block;
    left: 110px;
    position: relative;
    top: -40px;
}

.sect1 p{
    font-family: "Geist";
    width: 320px;
    font-size: 13px;
    position: relative;
    left: 115px;
    top: -20px;
}
.sect1 a{
    color: black;
}

.sect1-text{
    width: 50%;
    margin-top: 50px;
}

.sect1-right-text{
    display: flex;
    position: absolute;
    right: -20px;
    flex-direction: column;
    margin-right: 10px;
    border: 1px var(--firstcolor) solid;
    padding: 6px 18px;
    border-radius: 10px;
    box-shadow: -4px 4px 0 var(--firstcolor);
    width: 120px;
    margin-top: -40px;
}

.sect1-right-text span{
    font-family: "Bueno Regular";
    font-size: 18px;
    font-weight: 900;
    width: 120px;
    color: var(--firstcolor);
}

.sect1-right-text .event-btn {
    font-family: "Bueno Regular";
    font-size: 16px;
    font-weight: 900;
    color: var(--firstcolor);
    border: 1px var(--firstcolor) solid;
    padding: 6px 18px;
    border-radius: 20px;
    box-shadow: -4px 4px 0 var(--firstcolor);
    cursor: pointer;
    transition: all 0.5s ease;
    width: 50px;
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
}

.sect1-right-text .event-btn:hover {
    transform: translateX(-3px) translateY(3px);
    box-shadow: 0 0 0;
}





.sect2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    margin-top: 59px;
    margin-left: 15px;
}

.div1{
    margin-left: 9px;
    width: 420px;
    height: 420px;
    border-radius: 110px;
    background-color: var(--firstgrid);
    text-decoration: none;
    transition: border-radius 0.5s ease 0.4s;
}

.div1:hover{
    border-radius: 210px;
}

.div1 img:nth-child(1){
    width: 420px;
    height: 420px;
    border-radius: 110px;
    position: absolute;
    transition: all 0.5s ease 0.4s;
}

.div1 img:nth-child(2){
    opacity: 0;
    width: 420px;
    height: 420px;
    border-radius: 210px;
    position: absolute;
    transition: all 0.5s ease 0.4s;
}

.div1:hover img:nth-child(2){
    opacity: 1;
}

.div1:hover img:nth-child(1){
    border-radius: 0px 0px 200px 0px;
    opacity: 1;
    background-color: var(--backgroundcolor);
}

.div1 svg{
    position: relative;
    top: 230px;
    left: -130px;
    width: 100%;
    letter-spacing: 5px;
    transition: transform 0.5s ease ;
}

.div1 button{
    position: relative;
    border: 1px var(--firstgrid) solid;
    outline: 3px solid white;
    color: var(--firstgrid);
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 18px;
    font-family: "Bueno Regular";
    font-weight: 900;
    left: 100px;
    top: 270px;
    transform: scale(0);
    transform-origin: bottom center;
    transition: transform 0.5s ease;
    margin-left: 7px;
}

.div1:hover button{
    transform: scale(1);
    position: relative;
}

.div1:hover button:nth-child(odd){
    transform: rotate(-5deg) scale(1);
}

.div1:hover svg{
    transform: translateY(-50px)
}

.div2{
    margin-left: 9px;
    width: 420px;
    height: 420px;
    border-radius: 110px;
    background-color: var(--secondgrid);
    text-decoration: none;
    transition: border-radius 0.3s ease 0.4s, background-color 0.3s ease 0.4s;
}

.div2:hover{
    border-radius: 210px;
    background-color: #82A5DB;
}

.div2 img{
    width: 420px;
    height: 420px;
    border-radius: 0px 0px 0px 100px;
    position: absolute;
    transition: all 0.3s ease 0.4s;
}

.div2:hover img{
    border-radius: 0px 0px 0px 210px;
}

.div2 svg{
    position: relative;
    top: 200px;
    left: -130px;
    width: 100%;
    letter-spacing: 5px;
    transition: transform 0.5s ease ;
    pointer-events: none;
}

.div2 button{
    position: relative;
    border: 1px var(--secondgrid) solid;
    outline: 3px solid white;
    color: var(--secondgrid);
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 18px;
    font-family: "Bueno Regular";
    font-weight: 900;
    left: 100px;
    top: 230px;
    transform: scale(0);
    transform-origin: bottom center;
    transition: transform 0.3s ease;
    margin-left: 7px;
}



.div2:hover button{
    transform: scale(1);
    top: 230px;
    position: relative;
}

.div2:hover button:nth-child(even){
    transform: rotate(10deg) scale(1);
}

.div2:hover svg{
    transform: translateY(-60px)
}

.div3 p a{
    color: black;
}



.div4{
    grid-column-start: 2;
    grid-row-start: 2;
    margin-left: 9px;
    width: 420px;
    height: 420px;
    border-radius: 110px;
    background-color: var(--thirdgrid);
    text-decoration: none;
    transition: border-radius 0.3s ease 0.4s, background-color 0.3s ease 0.4s;
}

.div4:hover{
    border-radius: 210px;
    background-color: #979797;
}

.div4 img{
    width: 420px;
    height: 420px;
    border-radius: 0px 0px 0px 100px;
    position: absolute;
    transition: all 0.3s ease 0.4s;
}

.div4:hover img{
    border-radius: 0px 0px 0px 210px;
}

.div4 svg{
    position: relative;
    top: 200px;
    left: -130px;
    width: 100%;
    letter-spacing: 5px;
    transition: transform 0.5s ease ;
    pointer-events: none;
}

.div4 button{
    position: relative;
    border: 1px var(--thirdgrid) solid;
    outline: 3px solid white;
    color: var(--thirdgrid);
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 18px;
    font-family: "Bueno Regular";
    font-weight: 900;
    left: 100px;
    top: 230px;
    transform: scale(0);
    transform-origin: bottom center;
    transition: transform 0.3s ease;
    margin-left: 7px;
}



.div4:hover button{
    transform: scale(1);
    top: 230px;
    position: relative;
}

.div4:hover button:nth-child(even){
    transform: rotate(10deg) scale(1);
}

.div4:hover svg{
    transform: translateY(-60px)
}


.div5{
    grid-column-start: 3;
    grid-row-start: 2;
    margin-left: 9px;
    width: 420px;
    height: 420px;
    border-radius: 110px;
    background-color: var(--fourthgrid);
    text-decoration: none;
    transition: border-radius 0.5s ease 0.4s;
}

.div5:hover{
    border-radius: 210px;
}

.div5 img:nth-child(1){
    width: 420px;
    height: 420px;
    border-radius: 110px;
    position: absolute;
    transition: all 0.5s ease 0.4s;
}

.div5 img:nth-child(2){
    opacity: 0;
    width: 420px;
    height: 420px;
    border-radius: 210px;
    position: absolute;
    transition: all 0.5s ease 0.4s;
}

.div5:hover img:nth-child(2){
    opacity: 1;
}

.div5:hover img:nth-child(1){
    border-radius: 210px 0px 0px 210px;
    opacity: 1;
    background-color: var(--backgroundcolor);
}

.div5 svg{
    position: relative;
    top: 230px;
    left: -130px;
    width: 100%;
    letter-spacing: 5px;
    transition: transform 0.5s ease ;
}

.div5 button{
    position: relative;
    border: 1px var(--fourthgrid) solid;
    outline: 3px solid white;
    color: var(--fourthgrid);
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 18px;
    font-family: "Bueno Regular";
    font-weight: 900;
    left: 70px;
    top: 270px;
    transform: scale(0);
    transform-origin: bottom center;
    transition: transform 0.5s ease;
    margin-left: 7px;
}

.div5:hover button{
    transform: scale(1);
    position: relative;
}

.div5:hover button:nth-child(odd){
    transform: rotate(-5deg) scale(1);
}

.div5:hover svg{
    transform: translateY(-50px)
}
        





.sect2 p{
    margin-top: 30%;
    width: 320px;
    font-family: "Instrument Serif";
    font-weight: 300;
    font-size: 30px;
}



.sect-btn{
    border: 2px solid red;
    height: 25px;
    width: 80px;
    text-decoration: none;
    font-family: "Bueno Regular";
    color: var(--firstcolor);
    border: 1px var(--firstcolor) solid;
    box-shadow: -4px 4px 0 var(--firstcolor);
    border-radius: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    transition: all 0.5s ease;
    margin-top: 20px;
}

.sect-btn:hover {
    transform: translateX(-3px) translateY(3px);
    box-shadow: 0 0 0;
}